<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="img/icons/bag-alt.svg">
    <title>Sobre mí</title>
</head>
<body>
    <header>
        <h1 class="title-about-me">Sobre mí</h1>
        <a class="about-me" href="../index.html">Volver</a>
    </header>
    <main>
        <section>
            <h2>11 datos curiosos</h2>
            <ol>
                <li>Nací en Bogotá, un 30 de agosto. Tengo 24 años.</li>
                <li>Estudié ingeniería mecánica porque cuando era adolescente, me apasionaban los automóviles y sobre todo, cómo funcionan. Aún me siguen gustando, pero no despierta en mí la misma pasión de antes.</li>
                <li>Empecé a programar cuando tenía 15 años. El primer lenguaje de programación que conocí fue C++.</li>
                <li>Me encanta la música, especialmente el jazz, el rock y el metal. Mis artistas favoritos son Miles Davis, Iron Maiden y Led Zeppelin.</li>
                <li>Toco la batería. Aprendí empíricamente y me gustaría a futuro tomar clases para mejorar.</li>
                <li>Disfruto mucho de hacer ejercicio. He entrenado en gimnasios, centros de crossfit y parques por más de 10 años.</li>
                <li>Siento que tengo vocación para enseñar. Por eso empecé a trabajar dictando clases particulares de matemáticas y física desde el 2016. Gracias a la pandemia he podido continuar con mi trabajo desde casa.</li>
                <li>Me encanta leer, especialmente literatura policíaca, de terror y libros sobre historia. Me considero un "devorador de libros".</li>
                <li>Desde niño me gusta el fútbol (soy hincha de Ind. Santa Fe). En la actualidad no lo practico por dos lesiones que tuve.</li>
                <li>Mis bebidas favoritas son el café y la cerveza.</li>
                <li>Mis comidas favoritas son el ajiaco santafereño y la bandeja paisa.</li>
            </ol>
        </section>

    </main>
    <footer>
        <table>
            <tr>
                <td>Mis redes sociales</td>
                <td></td>
                <td><a href="https://www.facebook.com/juancamilo.mortigo/" target="_blank"><i class="fab fa-facebook"></i></a></td>
                <td></td>
                <td><a href="https://www.instagram.com/jcmortigor/" target="_blank"><i class="fab fa-instagram"></i></a></td>
                <td></td>
                <td><a href="https://www.linkedin.com/in/juan-camilo-mortigo-desarrollador-ingeniero-mecanico/" target="_blank"><i class="fab fa-linkedin"></i></a></td>
                <td></td>
                <td><a href="https://github.com/JCamiloMRincon" target="_blank"><i class="fab fa-github"></i></a></td>
                <td></td>
            </tr>
        </table>
    </footer>
</body>
</html>